.v{
    background-color: rgb(161, 161, 161);
    color: rgba(0, 0, 0, 0.85);
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    padding: 25px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
    
}

.back{
    background-color: black;
    color: rgba(255, 255, 255, 0.85);
}